body {
  font-family: cursive;
  font-size: 150%;
  margin: 2rem;
  padding: 2rem;
  background-color: rgb(40, 40, 40);
  color: white;
}

h1 {
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}
